[2015-11-09 21:02] SaintPeter opened #1 "[Feature Request] Big Text Announcements"
When there are known issues on FCC, we sometimes need to make "Big Text" announcements across channels.  It would be nice if we could use the Camperbot to simplify this.

### Command
`!bigtext <Message>`
We want it to be impossible to accidentally use.  The output formatting might be pre-defined, or allow for the user to enter arbitrary text and formatting.

### Broadcast Scope
We probably don't n

[2015-11-09 21:56] BerkeleyTrue opened #3 "Add tests"
Add testing suite using Tape

[2015-11-12 21:31] BerkeleyTrue opened #5 "project Ban Hammer"
# Project Ban Hammer

In order to facilitate troll extermination we need a system to promote campers to admins in Gitter without giving them write access on Free Code Camp org. We can do this. We have the power.

This will come in three parts.

* Promote CamperBot's github user to an owner on FCC org.
* Create a common where camperbot will enter the text `/ban @<someUser>` in all our main chat roo

[2015-11-12 21:34] SaintPeter commented on #5
I propose `!ban` rather than `/ban`, so it doesn't conflict with the actual `/ban` command.

[2015-11-12 21:35] BerkeleyTrue commented on #5
The command can be what ever we want. We can even do 'fluffy foo @<username>`

[2015-11-12 21:41] SaintPeter commented on #5
I fully endorse and insist on this command name.

[2015-11-12 23:08] joepurdy commented on #5
I humbly submit `bye felicia @<username>` as a candidate for the ban command

[2015-11-16 03:46] BerkeleyTrue opened #7 "ignore node_modules dir"

[2015-11-17 21:38] SaintPeter opened #9 "Add per-camper "Thank You" rate limit"
No more than X Thanks Yous per minute/hour/etc.  Also, maybe no more than ?10? per thank you.  Don't award any points at all if there are more than a certain number of `@mentions` in a message?

We had an issue where someone came into the main channel and spammed thank yous A LOT.  It took a long time for Camperbot to process them all and could have acted like a DOS to the API and Camperbot.

[2015-11-18 15:41] chautob0t opened #10 "CamperBot's code format help link broken"
In the Gitter application, when I tried to paste a code, CamperBot's help link is this -
https://github.com/freecodecamp/freecodecamp/wiki/code-formatting
![camper](https://cloud.githubusercontent.com/assets/8208082/11245469/ed57a490-8e38-11e5-886c-c6ab95108e80.PNG)

This should be changed to this - https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/code-format

[2015-11-18 16:42] abhisekp commented on #7
I wrote 2 PRs for gitterbot here https://github.com/dcsan/gitterbot/pull/163
and https://github.com/dcsan/gitterbot/pull/165

but it needs some more cleanup, i guess.

[2015-11-18 16:55] Takumar opened #11 "Camperbot doesn't recognize corrected bonfire's title."
I have noticed some time ago that there were changes in "Falsy bouncer" bonfire, it was named "Falsey bouncer" before.
Now people can't find these bonfire using command: `bf falsy bouncer`.
Changes in @camperbot code have to be made.
![falsy_bouncer](https://cloud.githubusercontent.com/assets/2951935/11247713/8f101540-8e1d-11e5-9b86-245a1aab3dbe.gif)

[2015-11-18 17:04] Takumar commented on #11
I think I know how to do it, so I will prepare code and make PR.

[2015-11-18 18:53] #11 closed

[2015-11-23 01:16] #7 closed

[2015-11-23 03:04] SaintPeter commented on #5
**Project Ban Hammer, Test 0001**
Naive implementation, have the bot "say" `/ban @username` appears to have failed.  The bot literally says it, no effect on test subject.

Looking through the docs it's not clear the a bot even *can* issue commands as distinct from messages.

[2015-11-23 03:05] BerkeleyTrue commented on #5
The bot cannot ban people until it has write access.

[2015-11-23 04:01] SaintPeter commented on #5
I have my personal bot, "SaintBot", set up with a room created by that account.  I was able to manually ban a user with that account, but the bot was not able to with the same account.

[2015-11-23 05:41] BerkeleyTrue commented on #5
Dang. Does the text show up in the general chat?

[2015-11-23 05:46] SaintPeter commented on #5
Yes: :point_up: [November 22, 2015 6:20 PM](https://gitter.im/SaintBot/testing?at=565277ff54ba2ca242611ca7)

Note that although the activity shows a ban and unban in that room, that was me confirming that I as "SaintBot" could manually ban/unban them.

@abhisekp had a conversation with @madlittlemods and he indicated he didn't know if it would work or not and asked us to file an issue:  gitterHQ/g

[2015-11-23 05:53] BerkeleyTrue commented on #5
Bummer.

[2015-11-23 06:57] BerkeleyTrue opened #17 "Use github api to update wiki articles"

[2015-11-23 06:58] BerkeleyTrue opened #18 "Ignore wiki articles in repo"

[2015-11-23 08:32] SaintPeter commented on #18
Note:
Install instructions will need to be updated to indicate you need to clone the wiki to the appropriate directory.

[2015-11-29 08:43] SaintPeter commented on #17
Ref:
Webhooks, Push Event: https://developer.github.com/v3/activity/events/types/#pushevent
Guide:  https://developer.github.com/guides/delivering-deployments/

It looks like we can even get GitHub to send a "secret", which can be compared against a server environment variable.

This looks really straightforward.

[2015-11-30 19:15] bugron commented on #10
Closed via https://github.com/FreeCodeCamp/wiki/pull/130.

[2015-11-30 19:15] #10 closed

[2015-12-01 20:56] ltegman opened #22 "Duplicate messages when command is entered by 2 users at once."
The following happens when two campers call up the code formatting wiki article at the same time (a common occurrence when someone doesn't format their code with markdown).
![_freecodecamp_freecodecamp_-_gitter](https://cloud.githubusercontent.com/assets/1381313/11513949/e226651a-982a-11e5-9a8a-3cbc97628c63.png)

[2015-12-02 18:16] duffn opened #24 "Explain fails for staticReplies"
Trying to `explain` items in the [staticReplies](https://github.com/FreeCodeCamp/camperbot/blob/cc2d0814a76e6952db791dd1be2ee297584edabc/nap/lib/bot/KBase.js#L32) array fails with [`tried to linkify an empty item`](https://github.com/FreeCodeCamp/camperbot/blob/cc2d0814a76e6952db791dd1be2ee297584edabc/nap/lib/utils/Utils.js#L157) because there is no `dashedName` property, so the bot sends this:

<

[2015-12-03 17:46] dcsan commented on #24
maybe just remove staticReplies ? those should be mostly for commands, not content that could be in the wiki. i think i originally just hardcoded some replies in to bootstrap development.

[2015-12-03 21:32] duffn commented on #24
Great, I'll take care of that.

[2015-12-04 01:03] BerkeleyTrue opened #25 "Replace star with brownie or other desert emoji when showing about"
https://github.com/FreeCodeCamp/camperbot/blob/master/nap/lib/bot/cmds/thanks.js#L139

[2015-12-04 22:43] duffn opened #26 "User not found error message wording"
The bot currently says "could not find receiver for user". It should provide a better worded error message when it can't find a user for brownie points.

<img width="853" alt="screen shot 2015-12-04 at 2 23 15 pm" src="https://cloud.githubusercontent.com/assets/3457341/11603251/bdcbcd48-9a9d-11e5-8345-abc5e6423345.png">

[2015-12-05 00:06] SaintPeter commented on #26
A better message might be "Username not connected to GitHub Account" maybe with a link to a Wiki article.

[2015-12-05 01:42] BerkeleyTrue commented on #26
"Github account not link with Free Code Camp"?

[2015-12-05 02:25] SaintPeter commented on #26
With the link being a link to a wiki article.

[2015-12-05 03:37] BerkeleyTrue commented on #26
:+1:

[2015-12-05 05:43] abhisekp commented on #26
It's better to give a direct link to link FCC with Github http://freecodecamp.com/link/github

[2015-12-06 13:58] duffn opened #28 "Free Code Camp style guide"
The code in this repository should conform to the FCC style guide.

https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-JavaScript-Style-Guide
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/.eslintrc

[2015-12-07 21:43] ltegman commented on #28
This definitely needs to happen. Should probably come after #3 though so we have at least some fail-safe to make sure we're not breaking anything in the course of refactoring it.

[2015-12-11 07:43] ltegman commented on #3
Currently working on this + getting gulp and linting going.

[2015-12-11 12:36] duffn commented on #3
After you get this up and running and tests committed, I'd definitely like to help add more.

[2015-12-11 20:31] BerkeleyTrue commented on #3
@ltegman :+1:

[2015-12-11 20:32] BerkeleyTrue commented on #28
:+1:

[2015-12-16 05:36] #24 closed

[2015-12-17 01:01] SaintPeter opened #32 "Remove/Improve "Add a Wiki" response"
Right now if you search for something using the `wiki` command and it's not found you get a message like this:
![image](https://cloud.githubusercontent.com/assets/553494/11858439/6dab985c-a416-11e5-9d31-98c53ce33f72.png)
The URL is no longer valid because we turned off the main Wiki commits.  Now you need to go through the PR process on the main Wiki.

Maybe we need an article on how to add articl

[2015-12-26 19:20] qmikew1 opened #33 "In-Chat Wiki (approach) Floods View"
Camperbot's wiki invocation (via such commands as explain, help, etc.,) results in, potentially, large wiki pages that can contain: multiple lines, static (or dynamic gif) images and other media that disrupts the chat window (both on desktop/ and mobile platforms). Would it be possible to limit summary to 2-4 lines and provide the actual link to the wiki?

[2015-12-26 19:23] abhisekp commented on #33
:+1:

[2015-12-31 20:01] #3 closed

[2016-01-02 06:27] dcsan opened #39 "remove bob comment"

[2016-01-02 12:35] abhisekp commented on #39
LOL. You added that command. :smile:

[2016-01-02 19:04] #39 closed

[2016-01-10 04:12] dcsan commented on #33
when i wrote this before, i trim it up to the first heading. but that means people need to know that, and always put a first heading near the start of the wiki entry.

i think i put a character cut off in there too, but sometimes that chopped off html in the middle of a tag, so it screwed up other markup. you'd need to be smarter about where you edit. maybe split the text on newlines and trim ther

[2016-01-10 04:13] dcsan opened #43 "change wiki edit link"
when you explain entries the footer edit link

![image](https://cloud.githubusercontent.com/assets/514002/12219941/6cb07378-b70d-11e5-86e6-6a8f2004104b.png)

goes here ->

https://github.com/freecodecamp/freecodecamp/wiki

eg
https://github.com/freecodecamp/freecodecamp/wiki/waypoint-bring-your-javascript-slot-machine-to-life

but maybe should go here?

https://github.com/freecodecamp/wiki

[2016-01-10 04:15] ltegman commented on #32
Closing this as a PR was merged to remove the message.

[2016-01-10 04:23] dcsan commented on #32
you might wanna leave it open as its really unclear now how to add wiki content.
have meaningful updates died off?

https://github.com/FreeCodeCamp/wiki/commits/master?page=3
most of these seem to be adding cities in the last month.

[2016-01-10 04:24] dcsan commented on #32
related discussion

hey can i ask what's the setup for adding new wiki entries for camperbot nowadays? did you close that down due to spam issues?

BerkeleyTrue 19:08
@dcsan Yes
You can create new entries by forming PR against the wiki repo

dcsan 19:09
got it

BerkeleyTrue 19:09
github.com/freecodecamp/wiki

dcsan 19:09
so its a real repo, not a github wiki?

BerkeleyTrue 19:09
yup

dcsan 19:09
g

[2016-01-12 23:05] qmikew1 commented on #33
That's a good point (about the cutoff of html) tags, I was thinking about the practicality of this (because, there would need to be a parallel styling change to wikis (and existing wikis (even with a bash script would be a PITA but doable) not sure there would be overall support to effort

[2016-01-14 21:02] ltegman commented on #5
According to a recent response on that issue this functionality should be possible through a previously undocumented API endpoint.

[2016-01-14 22:07] MaXwellFalstein commented on #22
One way to fix this could be to run a counter for one minute where an explain command is used, Camperbot will not post after the first instance.

[2016-01-15 00:48] abhisekp commented on #5
@ltegman yes. It's possible using the following API command endpoints
### Ban
[code]
### Unban
[code]

[2016-01-15 00:50] abhisekp commented on #22
@MaXwellFalstein a `debounce` function for that command for a minute.

[2016-01-15 11:53] MaXwellFalstein commented on #22
@abhisekp yes, a ``` debounce ``` function would be good.

[2016-01-15 11:57] MaXwellFalstein commented on #43
I think it should link to [FreeCodeCamp/Wiki](https://github.com/freecodecamp/wiki)

[2016-01-15 15:31] abhisekp commented on #22
@MaXwellFalstein here is another issue related to this https://github.com/FreeCodeCamp/camperbot/issues/9

Lodash has a `_.debounce` function which can be used here, i guess.

[2016-01-15 18:32] BerkeleyTrue commented on #18
Bump

[2016-01-15 18:33] BerkeleyTrue opened #45 "wiki-update script must not try to commit to history"

[2016-01-15 18:33] BerkeleyTrue opened #46 "Submodules are not working correctly"

[2016-01-15 18:33] BerkeleyTrue opened #47 "Change reference to iojs in scripts to node"

[2016-01-15 18:34] BerkeleyTrue opened #48 "Move away from bash files to JavaScript files."

[2016-01-17 19:25] SaintPeter opened #49 "Specifically exclude the word `tax` from the "Thank You" Regex"
Because this is just silly:
![image](https://cloud.githubusercontent.com/assets/553494/12379315/fab73f3a-bd0c-11e5-8470-76ec3e69e7c1.png)

[2016-01-18 01:57] abhisekp commented on #49
@SaintPeter that regex needs fixing https://github.com/dcsan/gitterbot/issues/142

[2016-01-18 05:42] SaintPeter commented on #49
@abhisekp I like your proposed Regex.  Give us a PR, please.

[2016-01-18 07:04] abhisekp commented on #49
My proposed regex has a minor flaw. Sometimes it doesn't work well with a particular way of thanking as tested in [**`[GitterBotX/playground?at=560a]`**](https://gitter.im/GitterBotX/playground?at=560ae012674bf7062bd12ead). It needs to be re-written with proper regex. I'll update it with a better regex and file a PR or if anyone else is interested could take it.

[2016-01-18 07:42] SaintPeter commented on #49
@abhisekp I think it's a great project for you.

Note:  It may be easiest to just try to permute the list of possible "thank you" variants and add them like:
`/\b(thx|thanks|thank|tx)\b/`
rather than trying to get fancy.  It may not catch all possible "thank you", but it becomes a LOT easier to maintain.  If someone comes up with a new variant, they can just add it to the `|`ed list.

Here is a qu

[2016-01-20 17:57] learnor opened #52 ""Thank you" should be excluded from code."
If certain key words like "thanks" "thank you" appear in your code quoted between ```  ````, the camperbot still send brownies to people mentioned.

[2016-01-20 19:22] SaintPeter commented on #52
We agree.  If you can come up with a Regex that does that, we'd love to see it.  It's a non-trivial problem.

[2016-01-29 20:01] #45 closed

[2016-01-29 20:01] #47 closed

[2016-01-29 20:01] #18 closed

[2016-01-29 20:01] #46 closed

[2016-01-30 18:11] ltegman commented on #28
Finished this linting a while ago and must have forgot to close this.

[2016-01-30 18:11] #28 closed

[2016-02-05 18:28] brutalcrozt commented on #43
@dcsan i still confuse with the main usage/purpose of camperbot.

[2016-02-06 03:03] abhisekp commented on #43
@brutalcrozt lets discuss about camperbot matters in [**`FreeCodeCamp/camperbot`**](https://gitter.im/FreeCodeCamp/camperbot)

[2016-02-10 23:07] ltegman opened #54 "Ability to limit commands to certain channels"
As suggested by @SaintPeter. Could also lead to confusion about what features are available where, so this is a feature we may want to approach with caution, but it's worth putting up for discussion.

[2016-02-11 01:00] SaintPeter commented on #54
I'm thinking that if there are particularly spammy commands we would limit them.  The command could be replaced with a message like:

Or something simple like that.  We wouldn't fail silently.

Thinking about how to do this:
[code]

We could also use that with:
[code]
To assign them quickly to many rooms.

Then it's just a matter of checking the object for the room name and doing an `indexOf` on t

[2016-02-11 07:08] t3h2mas commented on #54
It took a little digging... Looks like `Gbot.findAnyReply` is a good place to start.

[2016-02-12 13:05] noncentz commented on #49
I had a go at it and added a few more tests, https://regex101.com/r/hH5cN7/31

[2016-02-13 04:28] ltegman opened #57 "Add Travis CI"
Tests are passing and linting is good right now, so this should be a cinch to get set up. I'll play around with it tomorrow.

[2016-02-13 04:29] BerkeleyTrue commented on #57
:+1:

[2016-02-13 04:30] BerkeleyTrue commented on #57
I can add it to travis. We'll need a travis.yaml file for it to run, though.

[2016-02-13 04:31] BerkeleyTrue commented on #57
Done

[2016-02-13 04:33] ltegman commented on #57
Thank you good sir!

[2016-02-13 05:20] BerkeleyTrue opened #58 "Ask magic eightball questions"
Right now it only responds with the command `eightball`. It be really cool to be able to
`Oh magic eightball, Should I go to sleep?`

I think we can scope it to lines starting with `Oh magic Eightball`. Thoughts?

[2016-02-13 05:37] BerkeleyTrue commented on #58
NVM, this does work.

[2016-02-13 05:37] #58 closed

[2016-02-13 11:42] Nikitaw99 opened #59 "Double "Thank you" ?"
# This happened in chat:
---
@rphares wrote:

@camperbot responded:

---

Bug? I don't know. But yeah, That is an easier way to spam in chat.
Please fix.

[2016-02-13 17:39] ltegman commented on #59
Thanks for the reminder about this. I actually had a PR open to fix this on the old repo and forgot to bring it over to this one. I'll dig it up and open it against the new repo later today :smile:

[2016-02-13 18:22] Nikitaw99 commented on #59
@ltegman
Alright! If possible, fix this:

---
@camperbot typed:

---

[2016-02-18 00:46] ltegman opened #62 "Logs Not Being Written"
console.logs are not being written on the prod server. Need to look into this.

[2016-02-18 02:31] #57 closed

[2016-02-26 21:17] anuragaryan commented on #26
I did grep on  "could not find receiver for" but didn't find anything similar. :astonished:

[2016-02-26 21:29] BerkeleyTrue commented on #26
@anuragaryan Is returned from the FCC api

[2016-02-26 22:05] anuragaryan commented on #26
@BerkeleyTrue so how'd one go about solving it? From the FreeCodeCamp repo?

[2016-02-27 04:36] BerkeleyTrue commented on #26
You'll need to change the message sent by camperbot.

[2016-02-28 22:18] #59 closed

[2016-03-09 16:53] alayek opened #64 "Update relative links to absolute links in chatrooms"
Recently, we have made a switch to relative links in the FCC wiki. The links to other wiki articles, or fragmented links within same articles - are now relative.

However, the content in the chatroom would require absolute links. We need to have camperbot parse the links before posting, and add a constant URL string ahead of all hyperlinks.

[2016-03-09 16:53] alayek commented on #64
@Rafase282 @koustuvsinha @BerkeleyTrue @raisedadead  FYI

[2016-03-12 14:24] Rafase282 commented on #64
:+1:  This should be bumped in the priority queue.Who could I talk to so I can get some quick walk-through on how the bot work so I can try and get a fix?

[2016-03-12 15:54] raisedadead commented on #64
As per a [comment](https://gitter.im/FreeCodeCamp/camperbot?at=56e432c6bb541ac77f4f08a9) by @abhisekp

we need this:

https://github.com/FreeCodeCamp/camperbot/blob/master/lib/utils/TextLib.js#L5
[code]
and a call to it in https://github.com/FreeCodeCamp/camperbot/blob/master/lib/bot/KBase.js#L47
[code]
to fix the links.

[2016-03-12 16:28] Rafase282 commented on #64
https://github.com/FreeCodeCamp/camperbot/pull/65
https://github.com/FreeCodeCamp/camperbot/pull/66

This are the changes as I though they should be, need feedback.

[2016-03-13 18:35] pshweta13 commented on #26
how to get these brownie points, the same message is showing to me.

[2016-03-13 22:08] abhisekp commented on #26
@pshweta13 Try linking your Github account and FreeCodeCamp account http://freecodecamp.com/link/github

[2016-03-15 16:41] #64 closed

[2016-03-27 19:10] dwd2010 opened #72 "output from bot need to fix."
When i type wiki no repeat.

somehow it got missed bottom \`\`\`.

![fce30ba4b2fe4ec223e2554ade731534](https://cloud.githubusercontent.com/assets/9701609/14067228/9d087764-f425-11e5-8cbc-f668f43a0e6c.png)

[2016-03-28 22:19] SaintPeter commented on #72
This is a problem with the Wiki Article Itself:
https://github.com/FreeCodeCamp/wiki/blob/master/Algorithm-No-Repeats-Please.md

It is not formatted properly.  Please open an issue on the Wiki repo.

Thanks and Happy coding!

[2016-03-28 22:19] #72 closed

[2016-03-28 22:37] abhisekp commented on #72
@SaintPeter this not wiki issue. This is the way camperbot display the output. It discards anything > 20 lines. Hence, the bot needs fixing. It must account for long sentences in a line and code blocks.

[2016-03-28 22:38] abhisekp commented on #72
@SaintPeter although I agree the wiki must also be formatted according to the formatting guidelines. But the bot **also** needs fixing.

[2016-03-28 22:39] SaintPeter commented on #72
Have you taken a look at that article?  It's a trainwreck.

The default for the Campbot is display up until the first `h2` (`##`) or some number of characters.  In a properly formatted article the first `h2` would be right up near the top.

At this point it will be a lot easier to fix the article than to come up with some solid logic for the camperbot.

[2016-04-11 07:50] kgashok opened #75 "Automatic notification of FCC Challenges of members in a Gitter Room"
We created a Room on GITTER and three of us colleagues have been added to it. In the "Activity" section, we would like to be notified of each other's completion of FCC challenges **automatically**. Can a **"/notifyCompletion"** command be created for this requirement?

[2016-04-12 01:47] SaintPeter commented on #75
Humm . . . I don't think so.

The activity section is handled by Gitter integration's.  They can be hooked up to things like GitHub, etc.  In order for what you're describing to work, we would need to somehow host an API or streaming service and have Gitter support it.

I think the best you could do would be to drop a notification in the Gitter room and `@message` your collaborators.

[2016-04-12 01:47] #75 closed

[2016-04-12 02:03] kgashok commented on #75
That would be real cool! Imagine a scenario where a group of 20-30 might jointly be working on FCC challenges. It would help create momentum both in a physical/viritual campsite meet.

[2016-04-12 06:06] SaintPeter commented on #75
I don't disagree, it would be cool.  It's just beyond the capabilities of Camperbot and Gitter at this moment.

[2016-04-14 00:09] BerkeleyTrue opened #76 "Camperbot to ignore `@/all` thanks"

[2016-04-14 03:44] sludge256 commented on #76
So you don't want Camperbot to respond at all? It won't actually send brownies to everyone if that's what the concern is.
![thanks](https://cloud.githubusercontent.com/assets/10524623/14516500/8276d8c8-01b8-11e6-84ff-6a7172477aa6.PNG)

[2016-04-14 03:45] BerkeleyTrue commented on #76
Yes. While it doesn't give anyone brownie points, it still hits the database.

[2016-04-14 03:51] t3h2mas commented on #76
https://github.com/FreeCodeCamp/camperbot/blob/master/lib/bot/cmds/thanks.js#L38 Looks like a good starting point.

[2016-04-14 04:25] SaintPeter commented on #76
Might make sense to make an array "Ignore List" in case we need to add other names to it, rather than just hard coding the "all".

[2016-04-15 16:34] BerkeleyTrue opened #81 "Remove livecoding chat room"
Livecoding has officially been delisted

[2016-04-15 17:20] #81 closed

[2016-04-16 10:04] noncentz commented on #52
https://regex101.com/r/eG1oG7/1 @SaintPeter, If we to do an initial replace on the text this might work.

[2016-04-16 19:01] SaintPeter commented on #52
@noncentz That works great for multiline code (```).  Great work.
What about inline code?

[2016-04-17 02:28] noncentz commented on #52
@SaintPeter , https://regex101.com/r/eG1oG7/6 . We're almost there, it's going to need an edge case for comments too.

[2016-04-17 21:25] tommygebru opened #84 "Camperbot is giving away points in unofficial rooms"
https://gitter.im/FreeCodeCamp/Casual

I was given points in this chat room for hangouts and camperbot gave me points... please fix

thanks,
Tommy

[2016-04-18 00:47] SaintPeter commented on #84
/Casual is an official room and you can receive points in it.  Is that an issue?

[2016-04-18 00:49] SaintPeter commented on #52
Great work, keep it up!

[2016-04-18 00:58] dwd2010 commented on #84
I think that is not issue.  someone just say thanks to @tommygebru.  I dont see any issue with bot.

[2016-04-18 03:31] dwd2010 commented on #84
@tommygebru, you got point because someone say thank you to you. i hope you understand that is how you get a brownie point at the gitter.

[2016-04-18 07:14] tommygebru commented on #84
LOL i have no problems with brownie points, but because it is a chat room,
and not directly a help room associated with FCC Lessons.... I thought it
was important to mention 😊

On Sun, Apr 17, 2016 at 8:31 PM, Lance <notifications@github.com> wrote:

[2016-04-18 07:25] #84 closed

[2016-04-20 15:14] kgashok commented on #75
It can be built, right? Or do you see a technical impossibility in customizing a new Bot to do what needs to get done?

[2016-04-20 19:53] ltegman commented on #75
This isn't actually something in the realm of camperbot and not likely FCC in the near future. As has been mentioned this would require development of a streaming FCC api, which would likely place undue pressure on our infrastructure for minimal benefit, as well as require writing a custom integration for Gitter. Neither of these are within the scope of the camperbot project.

[2016-04-21 03:12] kgashok commented on #75
Ok, got it. Thanks,

[2016-04-22 05:43] t3h2mas opened #85 "example.config.json breaking new features."
It looks like copying `example.config.json` to `config.json` is breaking Travis CI tests. See PR from @abhisekp [here](https://github.com/FreeCodeCamp/camperbot/pull/83) (scroll down)

It's an easy fix. Move the example to `config.json` and update the readme. The code itself relies on `config.json` which is why the test fails.

[2016-04-23 13:07] Nikitaw99 opened #86 "Improve the 'about' command"
I've got an idea: camperbot will use :star2: `:star2:` for `1000 brownies` and above.
#### Currently:

#### Improved:

Add this whenever you want, this feature isn't necassary. But I still want it to be added.

[2016-04-23 13:10] Nikitaw99 commented on #86
To-do list for all your needs:
- [ ] Make `camperbot` find if a user has `1000 or more brownies`.
- [ ] Copy-paste :D

[2016-04-23 13:12] Nikitaw99 commented on #86
Sorry that I mentioned you, @abhisekp!

[2016-04-23 16:27] SaintPeter commented on #86
This is a great idea and @abhisekp is just the man to work on it!

[2016-04-23 17:39] Nikitaw99 commented on #86
@SaintPeter Thanks! It just popped out of my head randomly :)

[2016-05-01 01:10] #25 closed

[2016-05-01 01:10] #49 closed

[2016-05-01 01:10] #86 closed

[2016-05-03 08:54] CEREBR4L opened #90 "Explain Java"
When you know someone bring up the subject of my worst enemy (java) and I "cleverly" think "hmmm if I type explain java surely I will get a page telling this nice person about the horridness of java" but instead I got a page on javascript!

This makes me very upset for two reasons:
1. It made me look dumb (very bad time in my life).
2. java != JavaScript

It would be nice if we could do something

[2016-05-03 10:21] abhisekp commented on #90
@CEREBR4L type `explain java_` (then a space)

[2016-05-03 10:27] CEREBR4L commented on #90
@abhisekp I shall remember for the future though it would be nice if it was more simple.

[2016-05-03 10:47] abhisekp commented on #90
@CEREBR4L Well, the take away is Java can't be explained :wink: :stuck_out_tongue_winking_eye:

[2016-05-05 11:06] #90 closed

[2016-05-08 15:22] ltegman commented on #85
`npm test` has now been configured to create a config.json if none exists, but the code should definitely be made more resilient so that it doesn't need a custom bot to run.

[2016-05-08 15:23] ltegman commented on #62
This has been resolved.

[2016-05-08 15:23] #62 closed

[2016-05-08 15:25] ltegman opened #92 "Tests shouldn't rely on live wiki data."
This makes some of the tests incredibly brittle. Our build is broken again because the wiki changed. Tests that rely on wiki type data should have data mocked for them.

[2016-05-09 02:45] ltegman opened #93 "Need to make bot recover from API errors"
When camperbot hit the cloudflare DDoS protection it stopped accepting thanks and would not recover without a restart. camperbot should be able to recover from an error like that.

[2016-05-25 06:18] meetmangukiya opened #94 "Add duckduckgo Instant answer support"
This functionality will give superpowers to our dear @camperbot

[2016-05-25 07:19] atjonathan commented on #94
cc/ @FreeCodeCamp/issue-moderators Do we want this to be a feature?

[2016-05-25 09:57] AkiraLaine commented on #94
Wolfram Alpha would be better, but this would lead to the main chat being really spammed.

[2016-05-25 14:19] meetmangukiya commented on #94
@AkiraLaine not if we enable camperbot to reply to every single person that starts a chat with it. Though I am not sure if it is feasible to do so

[2016-05-25 15:03] atjonathan commented on #94
I personally don't see why we need this? The main chat is already spammed anyway.

[2016-05-25 15:12] atjonathan commented on #94
@ltegman What are your thoughts :grey_question:

[2016-05-25 16:28] ltegman commented on #94
@atjonathan I'm not a fan of features like this. It distracts and clutters an already busy chatroom. If someone really wants a feature like this they can make a bash script to do this for them in terminal. If there's programming related topics you'd like to have Camperbot tell you about you should add an article about it to the wiki :smile:

[2016-05-25 16:28] #94 closed

[2016-05-28 06:37] ltegman opened #96 "Remove web interface"
This is not currently used by FCC and I also don't think it's completely working. I propose removing this.

[2016-07-12 15:35] raisedadead opened #99 "User instance not valid error"
![](https://files.gitter.im/FreeCodeCamp/camperbot/vbrl/Selection_060.png)

Refer: :point_up: [July 5, 2016 3:49 PM](https://gitter.im/FreeCodeCamp/camperbot?at=577b89a869ed53d81433e2ba)

[2016-07-13 17:56] combsco opened #100 "Camperbot commands behind a prefix"
Too many times do users come into a channel and type 'help me' or something similar that generates a wall of text or any english word that happens to be a camperbot command.

Example:
!explain format
!help where art thou

[2016-07-13 17:58] combsco opened #101 "Camperbot quiet thresholds"
When the chat channel has high traffic Camperbot should be silenced from spamming mass body of texts to commit a CoC violation of spamming either on purpose, accidental or informational.

This could be also resolved with a prefix but combining both will keep the chat from being overloaded by a rogue Camperbot command.

Ex: If the chat is moving at a high rate, do not allow camperbot to spam more t

[2016-07-14 07:27] DarrenfJ opened #102 "Camperbot not working in LetsPair room"
Was trying to give some kudos happy brownie points and camperbot isn't working.. So I tried some camperbot commands and nothing.

However, I'm not sure camperbot is expected to be in every room? I am just assuming he is..
if not, please ignore.

https://gitter.im/FreeCodeCamp/LetsPair

[2016-07-14 10:09] #102 closed

[2016-07-15 06:16] raisedadead opened #103 "Camper bot - Wiki Migration"
As discussed earlier with @Rafase282 in the chat:

Camperbot will no longer be able to suggest any of the wiki articles including:
1. Solution hints
2. Rooms
3. Articles
4. Any other help topic

Hence the course of action is now to:
- [x] Close all the open issues are pull requests with after a thorough audit.
- [ ] Fix any issues relevant to chat and clean up this repository of the wiki related l

[2016-07-20 13:02] raisedadead commented on #17
Closing as a wontfix.
Refer : https://github.com/FreeCodeCamp/camperbot/issues/103

[2016-07-20 13:02] #17 closed

[2016-07-20 13:04] raisedadead commented on #32
Closing as a wontfix.
https://github.com/FreeCodeCamp/camperbot/issues/103

[2016-07-20 13:04] #32 closed

[2016-07-20 13:05] raisedadead commented on #33
Closing as a wontfix.
https://github.com/FreeCodeCamp/camperbot/issues/103

[2016-07-20 13:05] #33 closed

[2016-07-20 13:05] raisedadead commented on #43
Closing as a wontfix.
https://github.com/FreeCodeCamp/camperbot/issues/103

[2016-07-20 13:05] #43 closed

[2016-07-20 13:06] raisedadead commented on #101
Duplicate of #22

[2016-07-20 13:07] raisedadead commented on #22
Closing as a wontfix
https://github.com/FreeCodeCamp/camperbot/issues/103

[2016-07-20 13:07] #22 closed

[2016-07-20 13:08] raisedadead commented on #48
I am assuming this is for the Camper bot pulling the wiki repo and keeping its copy for the chat?

[2016-07-20 13:16] raisedadead commented on #92
Need to modify and update/remove the tests. #103

[2016-07-20 13:19] raisedadead commented on #9
Close as done? @BerkeleyTrue

[2016-07-20 14:26] combsco commented on #101
This isn't a duplicate of #22

#22 is about duplicate messages and making a debounce function. If you've read the issue I posted it's about shutting camperbot up when the chat is moving at a high rate to now create his own walls of spam.

[2016-07-20 14:29] raisedadead commented on #101
Well this issue will soon be a wontfix, because camperbot wont be displaying any help any longer.
refer #103

[2016-07-20 15:50] BerkeleyTrue commented on #9
@raisedadead Is it done?

[2016-07-20 17:05] raisedadead commented on #9
Sorry my bad, I figured it was the other way round. We do see the bot not accept thank yous to same receiver in an hour. Here we want to limit the no of requests a sender can make.

[2016-08-12 22:00] diomed opened #105 "'help me' issue"
words:

help me

trigger  adding environment variables [wiki]
which is obvious error. please fix that, it's annoying how much time we have to see this window
![help_me](https://cloud.githubusercontent.com/assets/72777/17638222/eab041f6-60e8-11e6-83d4-9bf5809d9d0a.png)

[2016-08-19 11:16] abhisekp commented on #105
Fixing https://github.com/FreeCodeCamp/camperbot/issues/100 will fix this

[2016-09-21 02:05] Manish-Giri opened #111 "Camperbot is down"
Camperbot is down across all the chat rooms since today (09/20), that I know of. Just FYI.

[2016-09-21 15:45] texas2010 commented on #111
this problem is solved.

[2016-09-21 15:45] #111 closed

[2016-09-24 19:12] diomed commented on #105
also,
phrases such as :

help me pls and help me please

trigger camperbot to unnecessary answer
_no wiki entry for: me pls_

which is really annoying

[2016-09-30 06:38] tf2manu994 opened #112 "Camperbot fails to give points if there is a bracket before a "thanks""
https://gitter.im/FreeCodeCamp/FreeCodeCamp?at=57edcc09d56b91170dfc75cd

[2016-10-17 17:40] ltegman opened #113 "Show core team information in about command"
We would like the `about` command to list whether a user is a part of the core team and potentially how long they have been a member for. I'm working with @QuincyLarson to make this a part of the FCC user information and API, but wanted to get this issue up for tracking.

[2016-10-17 20:15] QuincyLarson commented on #113
We want an annual distinction: "Core Team 2016"
This way if core team contributors no longer have time to contribute, we don't need to go through the process of removing them from the core team. This will also be a way recognizing continued effort.

Currently, when I run

[code]

I get:

[code]

Instead, we would get something like:
[code]

In order to achieve this, I recommend we create an array

[2016-10-18 00:44] ltegman commented on #112
Looks like now we're expecting a whitespace character on either side of the thanks but we really just need a non-word character.

[2016-10-18 22:07] texas2010 commented on #113
That is a great idea!

[2016-10-31 17:44] Dave1089 commented on #112
adding `|\W` to first capturing group in [this line](https://github.com/FreeCodeCamp/camperbot/blob/6013edabcb34159501270cce4fec5b2f64f76133/data/rooms/RoomMessages.js#L48) will fix it I think

[2016-11-01 06:48] abhisekp commented on #112
word breaks created a lot of problems. Please don't use `\W` or `\b`

[2016-11-01 13:39] raisedadead commented on #105
Closing in favor of #100

[2016-11-01 13:39] #105 closed

[2016-11-01 14:45] Dave1089 commented on #112
@abhisekp just curiosity , how would using non-word metacharacter create problems?

[2016-11-01 15:18] abhisekp commented on #112
@Dave1089 You may check the history https://github.com/FreeCodeCamp/camperbot/commits/6013edabcb34159501270cce4fec5b2f64f76133/data/rooms/RoomMessages.js

Previously, the regex was using `\b` which had many false positives leading to falsely giving out points to known and unknown campers (*unintended*). https://github.com/FreeCodeCamp/camperbot/commit/94e2558e94720dcb28417db33aa3ecc6f7bde2c9#diff-

[2016-11-01 15:46] Dave1089 commented on #112
@abhisekp I would like to get input from you how we should approach this issue of not validating non-word characters then

[2016-11-01 16:10] JasonXiao2007 commented on #103
what do you mean he no longer works?

[2016-11-01 18:19] abhisekp commented on #112
@Dave1089 I suggest to not complicate the regex more than it already is.
Using anything other than whitespace is not so common case. There might be more false positives if any character other than a whitespace is used.

[2016-11-01 19:06] Dave1089 commented on #112
Okey

[2016-11-03 16:16] abhisekp commented on #103
@JasonXiao2007 the wiki has been moved to https://forum.freecodecamp.com and Dear @camperbot :alien: shouldn't and is unable to fetch from FreeCodeCamp repository wiki https://github.com/FreeCodeCamp/FreeCodeCamp/wiki as it has been disabled.

[2016-11-10 13:35] oppiniated opened #116 "Camperbot fails to give points if the username is camelcased"
In the instance if the username is camel cased for eg **EastML**, the camperbot tries to give points to usernmae **eastml** and fails to find such user

[![error](https://s15.postimg.org/7bpx6szzf/Screen_Shot_2016_11_10_at_1_46_09_PM.png)](https://postimg.org/image/y9ju8jkmf/)

[2016-11-10 16:16] abhisekp commented on #116
Thanks for reporting.

The user must link their Github profile to FreeCodeCamp so that @camperbot can get their information.

@oppiniated Please provide them the link https://www.freecodecamp.com/link/github to link their github profile to FreeCodeCamp.

----
The user with uppercase username is able get points.

[2016-11-10 16:16] #116 closed

[2016-11-17 14:15] pdurbin commented on #26
I just saw `:warning: could not find receiver for pdurbin` at https://gitter.im/FreeCodeCamp/HelpDataViz?at=582dba2e3f3946057ac90954 . Is this because I'm using https://irc.gitter.im ? This warning makes no sense. Can it be removed or reworded?

[2016-11-20 07:07] QuincyLarson opened #117 "Disable Camperbot greeting or make it less frequent"
I worry that CamperBot's greetings - which get kind of old - are also deterring campers from greeting new campers.

Could we turn this off and see how people react to it, and see whether it increases the likelihood of a human greeting?

Perhaps we could make CamperBot smarter, so if someone says "Hello World" it waits 30 seconds to see if anyone greets the newcomer before attempting to greet them

[2016-11-20 08:00] Jeff-Shapiro commented on #117
on top of that. I think using camperbot to send a PM supplying links and information on how to paste formatted code and the likes, the code of conduct reminder. It is also a good opportunity to remind the member to search and not just ask for a solution.

[2016-11-20 08:06] QuincyLarson commented on #117
@Jeff-Shapiro these are good suggestions. Could you create a draft of the copy you think we should send to new campers? We want to strike a balance between giving them vital information and burying them in new information at a time when they're still getting their bearings on FCC in general.

[2016-11-20 08:10] Jeff-Shapiro commented on #117
Good point maybe amend the structure of a wiki page to be a chatters guide linking out to the existing wikis.

[2016-11-21 00:17] Jeff-Shapiro commented on #117
This is what Robert Richey wrote and its almost on par as to what I think should be sent out as a PM. Just add the code of conduct onto it. Its really neat and not heaps
![image](https://cloud.githubusercontent.com/assets/20011187/20467435/e7dcb814-afdb-11e6-8a0f-0dcb7dbf63ec.png)

[2016-11-21 04:44] QuincyLarson commented on #117
@ltegman what are your thoughts on this?

[2016-11-22 02:22] ltegman commented on #117
I really dig both these changes. I've thought for a while that the Camperbot greeting was hampering real human greetings. I should have some time over the long weekend to implement these changes, but I'd also be happy for anyone else who has the time to take a crack at it if they want :)

[2016-11-22 06:08] sludge256 commented on #5
Since we have a [repo for Gitter mods](https://github.com/FreeCodeCamp/gitter-mods) and the recent ability to [add mods directly through Gitter](https://gitter.im/gitterHQ/topics/topic/5809efc7b17b667961e0b359/moderation-tools) (even though we've decided to stick with using the repo) would we consider this issue to be resolved and no longer necessary?
Having camperbot issue the ban also raises som

[2016-11-22 06:10] BerkeleyTrue commented on #5
The only thing we can't do now that we could program camperbot to do would be to programmatically ban a user from all our rooms

[2016-11-22 06:43] QuincyLarson commented on #117
@ltegman awesome! Yes, I think turning greeting off completely for now and sending a message to the camper through CamperBot like the one Jeff suggested is a good idea, except instead of sending them links, I think we should send the following message:

### 🚀  Welcome to Free Code Camp's chat rooms on Gitter 🤖

Free Code Camp is a friendly place to learn to code. We’re committed to keeping it that

[2016-12-18 07:06] QuincyLarson commented on #117
@ltegman did you ever get a chance to look into this?

[2016-12-20 19:59] diomed commented on #117
please kill command ` /rollem` because people spam with it , and it only shows rickroll video anyway

[2016-12-20 20:48] t3h2mas commented on #117
@diomed please make a separate issue for your feature request

[2016-12-20 21:41] diomed opened #118 "remove /rollem"
please kill command `/rollem` because people spam with it , and it only shows rickroll video anyway.

[2016-12-27 20:04] diomed opened #119 "Add more 'thank you' phrases as as camperbot trigger words"
Much people say **tnx**

I suggest adding it as trigger word for giving cookies,
since there are many other variations that do that, tx being one of them.

This 1 you probably forgot.

[2017-01-06 05:34] smileytechguy commented on #118
no

[2017-01-06 20:26] smileytechguy commented on #118
What should be done instead is:

just like i did to @diomed in chat

[2017-01-06 21:14] Manish-Giri commented on #118
+1 for removing it.

[2017-01-06 21:43] smileytechguy commented on #118
If we use the markdown above, it wont spam with the embed

[2017-01-06 21:50] Margaret2 commented on #119
I agree that tnx should be added, a lot of people say it. Also, now that all the language-specific rooms have been closed, it might be a good idea to add some words for thanks in other common languages, e.g. merci, gracias, and 谢谢.

[2017-01-07 20:31] diomed commented on #119
also this variation doesn't seem to work:

**...thanks**

[2017-01-08 21:46] Manish-Giri opened #120 "Brownie Points bug: placing dots before 'Thanks' has no effect"
I've noticed on several occasions, if a camper places dots before `Thanks`, this does not trigger Camperbot. An example -

[2017-01-11 16:58] atjonathan commented on #118
Looks like we should remove this 👍

[2017-01-11 17:29] t3h2mas commented on #118
If someone wants to jump in on this, feel free to notify/@ me with any questions.

[2017-01-12 01:33] smileytechguy commented on #118
nooo

[2017-01-12 03:32] Manish-Giri commented on #118
@t3h2mas Thanks! I'll take this one up..

[2017-01-12 09:19] diomed commented on #120
Also doesn't work when comma is in front  ` ,thanks @Manish-Giri ` 😈

[2017-01-18 19:46] #101 closed

[2017-01-18 19:46] #100 closed

[2017-01-18 19:59] JohnTendik commented on #103
@abhisekp Hey, on the gitter chat, the bot responds with "no entry" for every help command. Instead of that "no entry for whatever" text, would it make sense to display an updated text which reads:

"the wiki has been moved to https://forum.freecodecamp.com"

Just a suggestion. :)

[2017-01-19 15:48] diomed opened #122 "remove about"
Upon mentioning word **about**

camperbot displays spammy useless message saying:

' you need to ask about @someone! '

this should be removed.

[2017-01-19 16:02] QuincyLarson commented on #103
@JohnTendik yes - I think that will be better. Even better would be for the wiki could pull from the forum. Here's an example forum API endpoint: https://forum.freecodecamp.com/c/wiki.json

[2017-01-20 16:43] Manish-Giri commented on #120
I'd like to work on this, just seeing the "Help wanted" tag...

[2017-01-21 18:47] dhcodes commented on #120
@Manish-Giri I think this would be where you improve the regex: https://github.com/freeCodeCamp/camperbot/blob/aa0115e0a4b98939d9339b13b5ab7f6c81e0deae/data/rooms/RoomMessages.js#L49

[2017-01-23 02:53] QuincyLarson commented on #122
I agree - this shouldn't trigger unless it has a target.

[2017-01-23 02:54] QuincyLarson commented on #117
@ltegman any updates on this?

Would anyone else be interested in taking a crack at this?

[2017-01-25 15:53] OFFLlNE commented on #119
Any1 is working on that? I would like to try to do that

[2017-01-25 16:43] t3h2mas commented on #119
@OFFLlNE it looks like it is up for grabs

Let me know if you need any help.

[2017-01-26 02:04] Margaret2 commented on #119
@OFFLlNE I was looking at it earlier, glad to let you try it though 😋 The regex for it is [here](https://github.com/freeCodeCamp/camperbot/blob/aa0115e0a4b98939d9339b13b5ab7f6c81e0deae/data/rooms/RoomMessages.js#L49), just so you don't have to hunt through the code to find it. Good luck! 🍀

[2017-01-26 12:45] diomed opened #123 "remove echo"
again, another useless option that people just use to spam in chat, by repeating other people's sentences.

[2017-01-27 13:30] OFFLlNE commented on #123
Seems like this is done https://github.com/freeCodeCamp/camperbot/pull/121

[2017-01-27 20:50] raisedadead commented on #117
@QuincyLarson I have disabled the command completely via https://github.com/freeCodeCamp/camperbot/pull/125

Do we need to update the welcome to as suggested above? If yes, should this be a DM?

[2017-01-27 20:51] raisedadead commented on #117
I am unaware of the discussion that went earlier and seems that the comments have been deleted from the thread.

[2017-01-27 21:12] t3h2mas commented on #117
I think moving to a DM would be beneficial by
* keeping the public channels clean
* providing more information to the user

[2017-01-27 21:15] raisedadead commented on #117
Yup, makes sense.

[2017-01-28 20:45] Manish-Giri commented on #122
I'll take this up, would need some setup to get camperbot running locally, but it should also help with #120.

[2017-01-31 19:40] QuincyLarson commented on #122
@Manish-Giri awesome - thanks for helping with this.

[2017-02-03 12:09] #119 closed

[2017-02-04 01:21] texas2010 commented on #118
@Manish-Giri, are you still work on this?

[2017-02-04 01:27] Manish-Giri commented on #118
@texas2010 I was told in the help chat that `rollem` was already removed, so I didn't come back to this issue. But looks like that was wrong information, I'll get to it now.

[2017-02-04 01:32] texas2010 commented on #118
@Manish-Giri, no problem.

have fun!

[2017-02-04 01:37] BerkeleyTrue commented on #103
Should this still be open?

[2017-02-04 04:50] QuincyLarson commented on #103
@BerkeleyTrue I think we can close this. Later we can incorporate the new wiki articles into CamperBot but for now we've removed the deprecated wiki from it.

[2017-02-04 04:50] #103 closed

[2017-02-04 07:51] raisedadead opened #128 "Make camperbot welcome people over DM"
Refers : https://github.com/freeCodeCamp/camperbot/issues/117#issuecomment-262160727
CamperBot should respond back with official chat rooms and resources.

[2017-02-04 07:52] #117 closed

[2017-02-04 13:34] OFFLlNE commented on #123
#121 was actually changes to echo, so I am reopening this issue, maybe this thing should be removed overall

[2017-02-04 14:03] #122 closed

[2017-02-04 14:20] dhcodes commented on #123
PR submitted for this.

[2017-02-04 19:50] #123 closed

[2017-02-05 07:44] Manish-Giri commented on #128
Is this up for grabs?

[2017-02-05 18:53] #118 closed

[2017-02-11 06:04] #99 closed

[2017-02-11 20:04] #26 closed

[2017-02-11 20:04] Manish-Giri commented on #120
@dhcodes oops, I forgot to write `closes #xxxxx` on the PR. Could you close this issue pls?

[2017-02-11 20:05] dhcodes commented on #120
👍

[2017-02-11 20:05] #120 closed

[2017-02-11 22:58] GeoxidS opened #136 "[beta] Unclear description in Applied Visual Design: Create Visual Balance with the Height of an Element"
@Atomk commented on [Sat Feb 11 2017](https://github.com/freeCodeCamp/freeCodeCamp/issues/13288)

Challenge [create-visual-balance-with-the-height-of-an-element](http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-visual-balance-with-the-height-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrom

[2017-02-12 00:55] #136 closed

[2017-02-12 01:13] teeleek commented on #136
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 07:55 "Lance" <notifications@github.com> เขียนว่า

[2017-03-05 03:25] Azbo400 opened #137 "Fix "arigatou" too "arigato" (Thank you in Japanese)"
Hello, everyone!

Over on the freeCodeCamp main chat people noticed that "arigatou" is not supposed have "u" at the end, so I am proposing to fix that.

If you guys don't mind if I fix it myself, I think that would be a good first contribution to the freeCodeCamp community.

Disclaimers:
1. Arigatou and Arigato **both** work, so maybe we want to keep that the same on purpose so either would work f

[2017-03-10 01:53] dhcodes commented on #112
Closing as stale and possible wontfix

[2017-03-10 01:53] #112 closed

[2017-03-10 02:17] dhcodes commented on #137
Seems that arigatou is the written form and arigato is the spoken/pronunciation form. Since both are allowed by the bot, I think we can close this.

[2017-03-10 02:17] #137 closed

[2017-03-10 02:34] dhcodes commented on #128
@raisedadead is this possible? the gitter api doesn't seem to allow private messages and you can use `/query @mention` to start a message but you have to push enter first. I'm looking into using a recursive function to make it work but haven't been successful so far

[2017-03-10 16:54] t3h2mas commented on #128
Confirmed the lack of private messages https://developer.gitter.im/docs/messages-resource

@dhcodes what are you using to simulate key presses, and is it allowed in gitters TOS?

[2017-03-15 13:41] dhcodes commented on #128
@t3h2mas haven't gotten that far yet and I am not sure. I'll do some quick reading and some more experimenting soon. Feel free to jump in and do the same; I'm not sure how much time I'll have to work on this.

[2017-03-15 14:03] t3h2mas commented on #128
@dhcodes it's my opinion that if gitter doesn't provide the API, then we shouldn't bother. Going around it could be troublesome and could change if anything on their end is updated without us knowing. Alternatively, what about contacting gitter and asking for the feature?

[2017-03-15 14:06] dhcodes commented on #128
I'm of the same mindset @t3h2mas. I'll reach out to Gitter about this. I suspect their fear is that if it's a private message, it's harder for mods to know/justify banning someone for sending spam/malicious content. But worth the ask.

[2017-03-15 17:57] dhcodes commented on #128
On the way to emailing them, I found this: http://blog.gitter.im/2017/03/15/gitter-gitlab-acquisition/

Looks like it will all be open-source soon. In the meantime, I'll ask about PM support via API in the GitterHQ room.

[2017-03-15 18:05] dhcodes commented on #128
I stand corrected. According to a dev in the GitterHQ room, the API should work as-is for private messages. He/she directed me to: https://developer.gitter.im/docs/messages-resource#send-a-message

I'll try it soon, but anyone else is welcome to as well.

[2017-03-17 19:56] dhcodes commented on #128
Update: I've got this mostly working. Will try to refactor and post it over the weekend.

[2017-03-18 21:41] Manish-Giri opened #139 "Update holler command to ignore usernames"
Saw this in the chatroom yesterday -

![22](https://cloud.githubusercontent.com/assets/11348778/24076232/ff146eaa-0c01-11e7-8b07-bbb98ebe1dca.png)

We should probably modify the `holler` command so that it doesn't echo for usernames, like in this case.

[2017-03-28 15:20] dhcodes commented on #128
I'm no longer sure if this is possible. I've been able to send DMs to individuals but only if they already have a one-to-one chat with my bot. I believe the room (even the DM room) must already exist in order to send messages via the API and you cannot create a room via the API based on this line in the [Rooms documentation](https://developer.gitter.im/docs/rooms-resource):
## Create a Room

I hav

[2017-04-02 17:07] raisedadead opened #142 "Update readme, to latest updates and remove unwanted/unused details."

[2017-05-28 07:40] #139 closed

[2017-07-23 23:15] QuincyLarson opened #143 "Should allow issue numbers without comment"
Currently CamperBot will protest if a camper creates a pull request with an issue number in it.

This is a common practice and should be allowed. We need to remove this functionality from CamperBot.

[2017-07-24 05:39] erictleung commented on #143
To clarify, the commitizen allows commit message bodies to have issue numbers, but not in the title. So CamperBot should also allow that as well.

[2017-07-24 19:25] QuincyLarson commented on #143
@erictleung Does CamperBot currently not allow issue numbers in the body of the commit? If that's the case, yes - we should allow commit messages in the body, but not the title, like Commitizen allows.

[2017-07-24 19:29] QuincyLarson commented on #143
I should have opened this PR on https://github.com/freeCodeCamp/camper-gh-bot instead so I'm closing it here.

[2017-07-24 19:29] #143 closed

[2017-07-26 15:33] moT01 opened #144 "bug - ignore brownies when in names"
I sent a non thank you message to user iangracia and camperbot gave him brownies. Camperbot should ignore those thank you keywords when they are in a username/ID.

[2017-08-03 22:34] alpox commented on #144
The same happened to me with user EgnaroDevDanke.

[2017-08-11 11:27] #144 closed

[2017-08-13 19:38] BerkeleyTrue opened #145 "remove codingjobs from lists of rooms"
This room no longer exists

[2017-09-07 17:33] BerkeleyTrue opened #147 "remove backend-challenges from list of rooms"

[2017-09-07 18:09] BerkeleyTrue opened #148 "change .com -> .org"

[2017-09-11 02:20] #148 closed

[2017-09-11 02:43] #145 closed

[2017-09-11 02:43] #147 closed

[2017-09-17 14:14] #96 closed

[2017-09-30 17:48] Bouncey opened #154 "Repeat thanks giving incorrect message"
[code]

[2017-10-01 12:11] systimotic commented on #154
Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/15857 https://github.com/freeCodeCamp/freeCodeCamp/pull/15861 Looks like it's not actually working yet 😞

[2017-11-07 21:54] mstellaluna opened #155 "Limit CamperBot's thanks list to 1 or 2 people"
As per Quincy, to prevent brownie/cookie spamming we need to limit camperbot's repeat thanks to one or two people at a time rather than allowing a large list of people. This needs to apply to all rooms in the FCC Chat.

![32519069-85b63f4e-c3d9-11e7-8802-9ba11f52707d](https://user-images.githubusercontent.com/22984739/32519860-1784931a-c3dc-11e7-9ed7-c3358f1052f7.png)

[2017-12-14 16:31] psyperl commented on #155
could this solve the limit? at thanks.js

[code]

i tried to pull request .. but failed on continuous integration.. wonder how i can see the log of the integration

[2018-02-21 19:02] diomed opened #157 "Remove 'find' from triggering keywords"
Seriously, what's the point.
It only triggers camperbot and causes unnecessary spam in chatroom.
Does nothing useful really.

[2018-03-16 02:55] ojongerius commented on #157
I'd prefer to fix this, moving forwrad. Also I'd love for my amazing #159 to take effect 😄

[2018-03-16 05:10] ojongerius commented on #155
I've got this running locally but need to polish it before I submit a PR. Will do that after this weekend.

[2018-07-15 17:33] joker314 opened #162 "Add a "ban" command?"
[ feature request ]

# The problem
A while ago, I was banned from freeCodeCamp Gitter rooms. However, due to the vast array of Gitter rooms that freeCodeCamp runs, the relevant moderator failed to ban me from all rooms, because they were doing it manually. This is bad. If an actually bad person was banned, they need to be properly stopped.

# The solution
If CamperBot had a moderator-only command,

[2018-07-15 17:52] joker314 commented on #162
Partial duplicate of #5

[2018-07-15 17:52] #162 closed, assigned to nobody